body {
   font-family: "Helvetica", Helvetica, Arial, "Lucida Grande", sans-serif;
   line-height: 1.6em;
   font-size: 1em;
}

a {
    color:#97659;
   }

textarea {
  font-size: 0.9em;
}

#entire-container {
  width: 38%;
  display: block;
  margin: auto;
  text-align: center;
}

#posts {
  text-align: left !important;
}

#posts li {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 25px;
  background-color: #d9d9fc;
  padding: 16px;
}

#content {
  width: 60%;
  padding-bottom: 88px;
}

#throwError{
  color: red;
  position: fixed;
  left: 20%;
  top: 20%;
}

ul {
  padding-left: 20px;
}

.delete-user-link {
  color:red;
}

button:focus{
  outline: none;
}

#inOrUp{
  left: 27.5%;
  top: 40%;
  z-index: 1;
  border: 5px #1851bc solid;
  color: #0019b2;
  background-color: #ccffd7;
  border-radius: 10px;
  position: fixed;
  width: 600px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

#signUpModal{
  left: 27.5%;
  top: 40%;
  z-index: 1;
  border: 5px #1851bc solid;
  color: #0019b2;
  background-color: #ccffd7;
  border-radius: 10px;
  position: fixed;
  width: 600px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

#signInModal{
  left: 27.5%;
  top: 40%;
  z-index: 1;
  border: 5px #1851bc solid;
  color: #0019b2;
  background-color: #ccffd7;
  border-radius: 10px;
  position: fixed;
  width: 600px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}


#insideModal {
  margin: auto;
  display: block;
  width: 480px;
}

#submit {
  border: 1px black dotted;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 11px;
}

#submit:hover {
  background-color: #777777;
}

input {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin: 5px;
  input-focus: none;
}

input:focus{
  outline: none;
}

textarea:focus{
  outline: none;
}
